[tool.poetry]
description = "Explore reinforcement learning with 2048 Game"
authors = ["Kone Abdallah Hakim <konehakim@gmail.com>"]
license = "MIT"
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"
numpy = "^1.0"
tqdm = "^4.66.5"
jupyterlab = "^4.2.4"
notebook = "^7.2.1"
networkx = "^3.3"
mpld3 = "^0.5.10"
matplotlib = "3.6.0"
keras = "^3.5.0"
tensorflow = "^2.17.0"

[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
black = "^24.8.0"
pylint = "^3.2.6"
mypy = "^1.11.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 119
target-version = ["py312"]
include = '\.pyi?$'
extend-exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
